.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
}

.home-container h1 {
    margin-bottom: 14px;
    color: #fff;
    font-size: 44px;
    padding-top: 94px;
}

.home-container span {
    color: #f1f1f1;
    margin-bottom: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.link-area {
    width: 100%;
    padding: 8px 0;
    border-radius: 4px;
    margin-bottom: 18px;
    background-color: #fff;
    user-select: none;
    transition: transform .4s;
}

.link-area:hover {
    transform: scale(1.04);
}

.link-text {
    font-size: 18px;
    line-height: 150%;
    color: #000;
}
